# Git ve CI/CD Altyapısı
.git
.gitignore
.github/

# Python ve Ortam Kalıntıları
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# Hassas Altyapı ve Sırlar 
.env
.env.*
terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
secrets.yaml

# Kubernetes ve İzleme Dosyaları 
helm/
monitoring-values.yaml
servicemonitor.yaml

# Dokümantasyon ve Testler
README.md
*.md
tests/
app/test_main.py

# IDE ve İşletim Sistemi Çöpleri
.DS_Store
.vscode/
.idea/