# Git çöpleri
.git
.gitignore

# Python ve Ortam Çöpleri
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDE ve OS Çöpleri
.DS_Store
.vscode/
.idea/